<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <header>
      <h1>{{ site.metadata.title }} <img src="https://i.imgur.com/ke51b4O.png" style="margin-bottom:-2px;width: 71px;"> </h1> 
      {% render "navbar", metadata: site.metadata, page: page %}
      /
      <a href="https://keybase.io/r4yan">Keybase</a>
      /
      <a href="https://breached.to/User-sigma">BreachForums</a>
      /
      <a href="https://github.com/R4yGM">Github</a>
    </header>

    <main>
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
